{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- style="background-image:url(../images/img_bg_2.png);" -->
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm img_tecnica" role="banner">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Técnica</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<footer id="fh5co-footer" role="contentinfo">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<!-- <span>Cool Stuff</span> -->
				<h2>El barniz de Pasto</h2>
				<p>La técnica del barniz de Pasto <strong>[Mopa-Mopa]</strong>, es exclusiva de la Ciudad de San
					Juan de Pasto,
					capital del departamento de Nariño ubicado al suroccidente de Colombia, es un oficio
					artesanal
					de origen prehispánico que pervive hasta hoy, y aunque ha evolucionado en colores, formas y
					diseños, el saber principal de la técnica en cuanto a su preparación y aplicación se ha
					mantenido
					por más de 500 años, pues desde el siglo XIV se tiene constancia de su empleo. Los maestros
					<strong>Gilberto Granja y Óscar O. Granja Peña</strong> (padre e hijo) son guardianes de esa
					herencia. Este
					oficio artesanal, único en el mundo, es el más representativo del departamento de Nariño, no
					es
					propiamente un barniz sino una resina vegetal que se adhiere a diversos artículos,
					generalmente
					de madera.
				</p>

				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-tree"></i>
					</span>
					<h2>Materia Prima</h2>
					<p>La materia prima, son los brotes de las hojas del árbol llamado <strong>“mopa
							mopa”</strong>, que solo se encuentra en el
						clima amazónico del vecino departamento del Putumayo, los habitantes de esa región toman
						las lágrimas que
						brotan del cogollo a raíz del péndulo de las hojas antes de que estas se conviertan en
						nuevas hojas; éstos
						brotes llegan al taller de los artesanos en forma de bloque, pues el cosechador los ha
						juntado uno tras otro
						hasta acumular bloques de mopa-mopa que generalmente pesan un kilogramo, el artesano
						dispone de la cantidad
						necesaria la cual es sometida a un proceso de limpieza, el material se sumerge varias
						veces en agua hirviendo
						y cada vez que se retira el artesano limpia el mopa-mopa con las uñas de sus pulgares,
						luego se macera varias
						veces golpeándolo con una maceta contra un yunque, igualmente sumergiéndolo y
						retirándolo cada vez en agua
						hirviendo; una vez libre de la mayoría de impurezas el material se estira formando hilos
						para después molerlo,
						con esto finaliza el proceso de limpieza; cuyo resultado es una masa uniforme de
						mopa-mopa de color verde
						oliva debido a la clorofila; esta tarea se hacía antiguamente masticando el material.
					</p>

					<p>Con el fin de teñir el material, nuevamente se sumerge esta masa en agua hirviendo se
						retira, e inmediatamente,
						antes de que se enfríe se le adiciona las anilinas naturales o sintéticas, se amasa
						hasta que el color sea
						uniforme. Paralelo a este proceso el artesano ha preparado la pieza de madera para su
						decoración, "encolando"
						el artículo, lijándolo y aplicándole varias capas de pintura sintética; una vez más se
						sumerge el mopa-mopa
						en agua hirviendo para poder estirarlo en forma de láminas de calibre muy delgado para
						trabajos convencionales
						y un poco gruesos para trabajos en relieve, ésta lámina se extiende sobre la pieza
						adhiriéndose con el calor
						que el artesano mantiene en su mano y antebrazo; se recorta con un bisturí formando
						diversas figuras, retirando
						el material de mopa-mopa sobrante, dependiendo del diseño se aplican varias capas de
						colores, algunas veces
						superpuestas, siempre recortando el material con el bisturí de acuerdo a la forma del
						diseño que el artesano
						se ha planteado; por último y después de finalizada la decoración la pieza es sometida
						al calor con el fin de
						que el mopa-mopa quede adherido definitivamente al artículo decorado.</p>
				</div>
				<div class="video">
					<iframe width="760" height="515" src="https://www.youtube.com/embed/h-Hfx8C_PFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
		</div>

</footer>
{% endblock content %}